DJANGO_SETTINGS_MODULE=config.settings
DJANGO_DEBUG=False
DJANGO_ALLOWED_HOSTS=127.0.0.1,localhost
BACKEND_HOST=127.0.0.1
BACKEND_PORT=8000
FRONTEND_HOST=0.0.0.0
FRONTEND_PORT=3000
DATABASE_HOST=127.0.0.1
DATABASE_PORT=5432
DATABASE_NAME=archive_management
DATABASE_USER=archive_management
DATABASE_PASSWORD=CHANGE_ME
MEDIA_ROOT=C:\ProgramData\QuanLyKhoLuuTru\Server\media
LOG_ROOT=C:\ProgramData\QuanLyKhoLuuTru\Server\logs