# Generated template - values are completed by the installer.
DJANGO_DEBUG=False
DJANGO_ALLOWED_HOSTS=127.0.0.1,localhost
DJANGO_PORT=8000
FRONTEND_PORT=3000
DATABASE_HOST=127.0.0.1
DATABASE_PORT=5432
DATABASE_NAME=quanlykholuutru
DATABASE_USER=quanlykholuutru_app
DATABASE_PASSWORD=__SET_BY_INSTALLER__
MEDIA_ROOT=__PROGRAMDATA__\QuanLyKhoLuuTru\media